# -----------------------------
# System & Editor
# -----------------------------
*.DS_Store
*.log
*.class
*.pyc
*.swp

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# -----------------------------
# Flutter & Dart
# -----------------------------
# Tooling
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Pub cache (no necesitas versionarlo)
.pub/
.pub-cache/

# Generated documentation
doc/api/

# Build outputs
/build/

# Generated Flutter files
**/ios/Flutter/.last_build_id

# -----------------------------
# Android
# -----------------------------
android/.gradle/
android/local.properties
android/app/*.keystore
/android/**/build/

# -----------------------------
# iOS
# -----------------------------
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
**/DerivedData/

# -----------------------------
# Node (si albergas web/JS)
# -----------------------------
node_modules/

# -----------------------------
# Misc
# -----------------------------
*.symbols
*.map.json

